:root {
  --blue1: #2F4866;
  --pink1:#FF4880;
  --gray1:#707070;/*Color de lineas y bordes*/
  --gray2:#7C7A7B;/*Color de placeholder*/
  --gray3:#F4F4F4;/*Color de letras*/ 
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
}
.logo{
  margin-top: 32px;
}

.login-form{
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center ;
  width: 100%;
  min-width: 320px;
  height: 220px;
  text-align: center;
}

.user, .pass {
  border: none;
  color: var(--gray1);
  font-size: medium;
  outline: none;
}
.login {
  background-color: var(--pink1);
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: var(--gray3);
  font-weight: 800;
  font-size: large;
}
.entrada{
  display: flex;
  align-items: center;
  display: flex;
  /* justify-content: start; */
  margin-bottom: 25px;
  box-sizing: content-box;
  width: 220px;
  border-bottom: #707070 solid 1px;
  margin-top: 20px;
}
